In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:

df=pd.read_csv("Inc_Exp_Data.csv")

In [5]:
df.head(20)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

In [6]:
df.describe(include='all')

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
count,50.000000,50.000000,50.000000,50.000000,5.000000e+01,50,50.000000
unique,NaN,NaN,NaN,NaN,NaN,5,NaN
top,NaN,NaN,NaN,NaN,NaN,Graduate,NaN
freq,NaN,NaN,NaN,NaN,NaN,19,NaN
mean,41558.000000,18818.000000,4.060000,3060.000000,4.900190e+05,NaN,1.460000
std,26097.908979,12090.216824,1.517382,6241.434948,3.201358e+05,NaN,0.734291
min,5000.000000,2000.000000,1.000000,0.000000,6.420000e+04,NaN,1.000000
25%,23550.000000,10000.000000,3.000000,0.000000,2.587500e+05,NaN,1.000000
50%,35000.000000,15500.000000,4.000000,0.000000,4.474200e+05,NaN,1.000000
75%,50375.000000,25000.000000,5.000000,3500.000000,5.947200e+05,NaN,2.000000
max,100000.000000,50000.000000,7.000000,35000.000000,1.404000e+06,NaN,4.000000

In [8]:
df.shape

(50, 7)

In [9]:
df.isnull().sum()

Mthly_HH_Income             0
Mthly_HH_Expense            0
No_of_Fly_Members           0
Emi_or_Rent_Amt             0
Annual_HH_Income            0
Highest_Qualified_Member    0
No_of_Earning_Members       0
dtype: int64

In [10]:
mean=df['Mthly_HH_Income'].mean()
print(mean)

41558.0

In [11]:
median=df['Mthly_HH_Income'].median()
print(median)

35000.0

In [12]:
mode=df['Mthly_HH_Income'].mode()
print(mode)

0    45000
Name: Mthly_HH_Income, dtype: int64

In [13]:
mean1=df['Mthly_HH_Expense'].mean()
print(mean1)

18818.0

In [14]:
median1=df['Mthly_HH_Expense'].median()
print(median1)

15500.0

As mean > median, the distribution is positively skewed (right-skewed)

In [15]:
ran=df['Mthly_HH_Income'].max()-df['Mthly_HH_Income'].min()
print(ran)

95000

In [19]:
a=df['Mthly_HH_Income']/df['Mthly_HH_Expense']
max_rat=a.idxmax()
print(df.loc[max_rat])

Mthly_HH_Income                70000
Mthly_HH_Expense                9000
No_of_Fly_Members                  2
Emi_or_Rent_Amt                    0
Annual_HH_Income              756000
Highest_Qualified_Member    Graduate
No_of_Earning_Members              1
Name: 42, dtype: object

In [20]:
avg=df['No_of_Fly_Members'].mean()
print(avg)

4.06

In [21]:
std=df['No_of_Fly_Members'].std()
print(std)

1.5173822786601394

The family size is not perfectly consistent

In [24]:
depend=(df['No_of_Fly_Members']-df['No_of_Earning_Members'])/df['No_of_Fly_Members']
max_dep=depend.idxmax()
print(df.loc[max_dep])

Mthly_HH_Income                  22000
Mthly_HH_Expense                 25000
No_of_Fly_Members                    6
Emi_or_Rent_Amt                  12000
Annual_HH_Income                279840
Highest_Qualified_Member    Illiterate
No_of_Earning_Members                1
Name: 11, dtype: object

In [26]:
avg_inc=(df['Emi_or_Rent_Amt']/df['Mthly_HH_Income']).mean()*100
print(avg_inc)

12.694386798751195

In [32]:
df['highh']=df['Emi_or_Rent_Amt']>0.4*df['Mthly_HH_Income']
print(df[df['highh']])

    Mthly_HH_Income  Mthly_HH_Expense  No_of_Fly_Members  Emi_or_Rent_Amt  \
1              6000              7000                  2             3000
6             15000             16000                  3            35000
7             18000             20000                  5             8000
11            22000             25000                  6            12000

    Annual_HH_Income Highest_Qualified_Member  No_of_Earning_Members  highh
1              79920               Illiterate                      1   True
6             167400            Post-Graduate                      1   True
7             216000                 Graduate                      1   True
11            279840               Illiterate                      1   True

In [33]:
df['Disposable_Income'] = df['Mthly_HH_Income'] - df['Mthly_HH_Expense'] - df['Emi_or_Rent_Amt']
min_disp_idx = df['Disposable_Income'].idxmin()
print("Lowest disposable income household:\n", df.loc[min_disp_idx])

Lowest disposable income household:
 Mthly_HH_Income                     15000
Mthly_HH_Expense                    16000
No_of_Fly_Members                       3
Emi_or_Rent_Amt                     35000
Annual_HH_Income                   167400
Highest_Qualified_Member    Post-Graduate
No_of_Earning_Members                   1
highh                                True
Disposable_Income                  -36000
Name: 6, dtype: object

In [34]:
df['Annual_Calc'] = df['Mthly_HH_Income'] * 12
discrepancies = df[df['Annual_HH_Income'] != df['Annual_Calc']]
print("Discrepancies in annual income:\n", discrepancies)

Discrepancies in annual income:
     Mthly_HH_Income  Mthly_HH_Expense  No_of_Fly_Members  Emi_or_Rent_Amt  \
0              5000              8000                  3             2000
1              6000              7000                  2             3000
2             10000              4500                  2                0
3             10000              2000                  1                0
4             12500             12000                  2             3000
5             14000              8000                  2                0
6             15000             16000                  3            35000
8             19000              9000                  2                0
9             20000              9000                  4                0
10            20000             18000                  4             8000
11            22000             25000                  6            12000
12            23400              5000                  3                0
13            24000             10500                  6                0
14            24000             10000                  4                0
15            25000             12300                  3                0
16            25000             20000                  3             3500
17            25000             10000                  6                0
19            30000             13000                  4                0
20            30500             25000                  5             5000
21            32000             15000                  4                0
22            34000             19000                  6                0
23            34000             25000                  3             4000
24            35000             12000                  3                0
25            35000             25000                  4                0
26            39000              8000                  4                0
27            40000             10000                  4                0
28            42000             15000                  4                0
29            43000             12000                  4                0
30            45000             25000                  6                0
31            45000             40000                  6             3500
32            45000             10000                  2             1000
33            45000             22000                  4             2500
34            46000             25000                  5             3500
35            47000             15000                  7                0
36            50000             20000                  4                0
37            50500             20000                  3                0
38            55000             45000                  6            12000
39            60000             10000                  3                0
40            60000             50000                  6            10000
41            65000             20000                  4             5000
42            70000              9000                  2                0
43            80000             20000                  4                0
44            85000             25000                  5                0
45            90000             48000                  7                0
46            98000             25000                  5                0
47           100000             30000                  6                0
48           100000             50000                  4            20000
49           100000             40000                  6            10000

    Annual_HH_Income Highest_Qualified_Member  No_of_Earning_Members  highh  \
0              64200           Under-Graduate                      1  False
1              79920               Illiterate                      1   True
2             112800           Under-Graduate                      1  False
3              97200               Illiterate                      1  False
4             147000                 Graduate                      1  False
5             196560                 Graduate                      1  False
6             167400            Post-Graduate                      1   True
8             218880           Under-Graduate                      1  False
9             220800           Under-Graduate                      2  False
10            278400           Under-Graduate                      2  False
11            279840               Illiterate                      1   True
12            292032               Illiterate                      1  False
13            316800                 Graduate                      2  False
14            244800                 Graduate                      2  False
15            246000                 Graduate                      1  False
16            261000                 Graduate                      1  False
17            258000           Under-Graduate                      3  False
19            385200                 Graduate                      1  False
20            351360           Under-Graduate                      1  False
21            445440             Professional                      1  False
22            330480             Professional                      1  False
23            469200             Professional                      1  False
24            466200                 Graduate                      1  False
25            449400             Professional                      2  False
26            556920           Under-Graduate                      1  False
27            412800           Under-Graduate                      1  False
28            488880                 Graduate                      1  False
29            619200                 Graduate                      1  False
30            523800                 Graduate                      3  False
31            507600             Professional                      2  False
32            437400            Post-Graduate                      1  False
33            610200            Post-Graduate                      1  False
34            596160                 Graduate                      1  False
35            456840             Professional                      4  False
36            570000             Professional                      1  False
37            581760             Professional                      2  False
38            600600                 Graduate                      2  False
39            590400            Post-Graduate                      1  False
40            590400                 Graduate                      1  False
41            647400               Illiterate                      2  False
42            756000                 Graduate                      1  False
43           1075200                 Graduate                      1  False
44           1142400           Under-Graduate                      2  False
45            885600            Post-Graduate                      3  False
46           1152480             Professional                      2  False
47           1404000                 Graduate                      3  False
48           1032000             Professional                      2  False
49           1320000            Post-Graduate                      1  False

    Disposable_Income  Annual_Calc
0               -5000        60000
1               -4000        72000
2                5500       120000
3                8000       120000
4               -2500       150000
5                6000       168000
6              -36000       180000
8               10000       228000
9               11000       240000
10              -6000       240000
11             -15000       264000
12              18400       280800
13              13500       288000
14              14000       288000
15              12700       300000
16               1500       300000
17              15000       300000
19              17000       360000
20                500       366000
21              17000       384000
22              15000       408000
23               5000       408000
24              23000       420000
25              10000       420000
26              31000       468000
27              30000       480000
28              27000       504000
29              31000       516000
30              20000       540000
31               1500       540000
32              34000       540000
33              20500       540000
34              17500       552000
35              32000       564000
36              30000       600000
37              30500       606000
38              -2000       660000
39              50000       720000
40                  0       720000
41              40000       780000
42              61000       840000
43              60000       960000
44              60000      1020000
45              42000      1080000
46              73000      1176000
47              70000      1200000
48              30000      1200000
49              50000      1200000

Annual_HH_Income is not consistent with Mthly_HH_Income × 12 for these households.The Annual_HH_Income column does not match the calculated value (Mthly_HH_Income × 12) for all the rows shown.

In [35]:
grouped_income = df.groupby('Highest_Qualified_Member')['Mthly_HH_Income'].mean()
print("Avg monthly income by qualification:\n", grouped_income)

Avg monthly income by qualification:
 Highest_Qualified_Member
Graduate          40921.052632
Illiterate        25280.000000
Post-Graduate     59166.666667
Professional      52550.000000
Under-Graduate    29350.000000
Name: Mthly_HH_Income, dtype: float64

In [36]:
grouped_median = df.groupby('Highest_Qualified_Member')['Mthly_HH_Income'].median()
print("Median monthly income by qualification:\n", grouped_median)

Median monthly income by qualification:
 Highest_Qualified_Member
Graduate          35000.0
Illiterate        22000.0
Post-Graduate     52500.0
Professional      46000.0
Under-Graduate    22500.0
Name: Mthly_HH_Income, dtype: float64